{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.audio_sermons_title }}{% endblock %}
{% block content%}

  <!-- Header Start -->
  <div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">  </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="{% url 'contact' %}">Contact</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

    <!-- About Start -->
    
        <audio loop controls width="100%" height="40%" style="width: 100%; object-fit: cover; border-radius: 5px;">
            <source src="{{ object.audio_sermons.url }}" type="audio/mp4">
            Your browser does not support the audio tag.
        </audio>
          <center><h5 class="mb-4"style="color: #d4af37;">{{ object.audio_sermons_title }}</h5></center>
</div>
<div class="d-flex border-top">
    <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>Sermon by:{{ object.audio_sermons_preach_by }}</small>
    <small class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">{{ object.audio_sermons_publish_date }}</small>
</div>

    {% endblock %}