{% extends "base.html" %}
{% load static %}
{% block title %} Contact Fountain Church {% endblock %}
{% block content %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Contact</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Minister</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Contact Us</h6>
                <h1 class="mb-5"style="color: #d4af37;">Contact For Any Query</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h5>Get In Touch</h5>
                    <p class="mb-4">We’d love to hear from you Whether you have questions, feedback, 
                        or just want to say hello, feel free to reach out to us, God bless you.</p>

                        <a href="https://maps.app.goo.gl/kkrY5vSyGTRRczi38"target="_blank">
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">Church Address</h5>
                            <p class="mb-0">View Google Map</p>
                            <p class="mb-0">91/93 Lighthouse Cinemas, Jibowu Lagos</p>
                        </div>
                    </div>
                </a>
                    <a href="https://wa.me/+2349065419288?text=Hi Fountain Of The Living Church?"target="_blank"class="mb-0">
                    <div class="d-flex align-items-center mb-3">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">Whatsapp & Mobile</h5>
                            <p><a href="https://wa.me/+2349065419288?text=Hi Fountain Church?"target="_blank"class="mb-0">+012 345 67890</a></p>
                        </div>
                    </div>
                </a>
                <a href="mailto:fountainofthelivingwordng@gmail.com"target="_blank">
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                            <i class="fa fa-envelope-open text-white"></i>
                        </div>
                        <div class="ms-3">
                            <h5 class="text-primary">Email</h5>
                            <p class="mb-0">fountainofthelivingwordng@gmail.com</p>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    {% for post in object_list %}
                    <video autoplay muted playsinline loop width="100%" height="auto" controls style="border-radius: 5px; display: block;">
                        <source src="{{ post.deus_magnus_contact_video.url }}" type="video/mp4">
                        <source src="{{ post.deus_magnus_contact_video.url }}" type="video/webm">
                        Your browser does not support the video tags.
                    </video>
                    {% endfor %}
                </div>

                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="message-name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" name="message-email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="message-subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" name="message" style="height: 150px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    {% endblock %}