
{% extends "base.html" %}
{% load static %}
{% block title %} Blog post {% endblock %}
{% block content%}

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Church Galary</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'home'%}">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="{% url 'events'%}">Events</a></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->



    <!-- Courses Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3"> Galary Post</h6>
            </div><br>
            <div class="row g-4 justify-content-center">
                {% for post in object_list %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="course-item bg-light">
                        <div class="position-relative overflow-hidden">
                            <a href="{% url 'galary_detail' post.pk %}">
                            <img class="img-fluid" src="{{ post.galary_img.url }}"style="height: 300px; width: 100%; object-fit: cover;" alt="">
                        </a>
                            <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                <a href="{% url 'galary_detail' post.pk %}" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 10 10 30px;">View</a>
                            </div>
                       
                        </div>
                        <div class="text-center p-4 pb-0">
                            <a href="{% url 'galary_detail' post.pk %}"> <h5 class="mb-0"style="color: #d4af37;">{{ post.galary_title|truncatechars:20}}</h5></a>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Courses End -->


        
{% endblock %}